# Terraform gitignore
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Environment variables & secrets
*.tfvars
!.tfvars.example
secrets.tfvars

# Python gitignore
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.so

# System files
.DS_Store
*.log
